body {
  max-width: 600px;
  margin: 0 auto;
  background: rgb(255, 252, 207);
  font-family: "Rubik", sans-serif;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  font-family: "Lobster Two", cursive;
  font-size: 42px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: 10px;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

li:hover {
  background: rgb(252, 250, 131);
}

.form-check-input {
  padding: 5px;
  margin: 3px 10px 0 10px;
  opacity: 0.5;
  transition: all 150ms ease-in-out;
}

.form-check-input:hover {
  cursor: pointer;
}

.pencil {
  opacity: 0.2;
  position: relative;
  top: 3px;
  transition: all 150ms ease-in-out;
}

.pencil:hover {
  opacity: 0.5;
  cursor: pointer;
}

.delete-button {
  opacity: 0.2;
  position: relative;
  top: 3px;
  transition: all 150ms ease-in-out;
}

.delete-button:hover {
  background: none;
  opacity: 0.5;
  cursor: pointer;
}

.form-control {
  margin: 0 10px 0 12px;
  box-shadow: 5px 5px 5px rgba(54, 43, 43, 0.2);
}

.submit-button {
  background: rgb(211, 56, 56);
  color: white;
  box-shadow: 5px 5px 0px rgb(54, 43, 43);
  transition: background-color 150ms ease-in-out;
}

.submit-button:hover {
  background: rgb(128, 34, 34);
  color: white;
}

.submit-button:active {
  position: relative;
  top: 5px;
  left: 5px;
}

footer {
  font-size: 12px;
  margin-top: 9px;
}

.checked {
  background-color: rgb(146, 214, 126, 0.3);
  opacity: 0.5;
}

.checked:hover {
  opacity: 1;
  background: rgb(146, 214, 126, 0.3);
}
